.flexbox{
    display: flex;
    background-color: black;
     height: 300px;
     width: 500px;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: end;
     margin: 30px;
     flex-wrap: wrap;

  


}